In [1]:
import pandas as pd

In [272]:
df = pd.read_excel(r"C:\Users\bojja\Downloads\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [273]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [274]:
df = df.drop(columns="Not_Useful_Column")

In [275]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [276]:
df.loc["Last_Name"] = df["Last_Name"].str.strip("123._/")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001.0,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002.0,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003.0,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004.0,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005.0,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006.0,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007.0,Jeff,Winger,NaN,1209 South Street,No,No
7,1008.0,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009.0,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010.0,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011.0,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012.0,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013.0,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014.0,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015.0,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016.0,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017.0,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018.0,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019.0,Creed,Braton,N/a,N/a,N/a,Yes
19,1020.0,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
Last_Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [277]:
df.loc["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]', '', regex = True)

In [278]:
df.loc["Phone_Number"] = df["Phone_Number"].astype(str)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001.0,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002.0,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003.0,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004.0,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005.0,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006.0,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007.0,Jeff,Winger,NaN,1209 South Street,No,No
7,1008.0,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009.0,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010.0,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011.0,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012.0,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013.0,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014.0,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015.0,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016.0,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017.0,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018.0,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019.0,Creed,Braton,N/a,N/a,N/a,Yes
19,1020.0,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
Last_Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phone_Number,NaN,NaN,nan,nan,NaN,NaN,NaN

In [279]:
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
df

TypeError: 'int' object is not subscriptable

In [280]:
import numpy as np

df["Phone_Number"] = df["Phone_Number"].replace(['nan--', 'Na--', 'N/a'], np.nan)

In [281]:
df.loc["Paying Customer"] = df["Paying Customer"].str.replace('Yes', 'Y')
df.loc["Paying Customer"] = df["Paying Customer"].str.replace('No', 'N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001.0,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002.0,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003.0,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004.0,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005.0,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006.0,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007.0,Jeff,Winger,NaN,1209 South Street,No,No
7,1008.0,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009.0,Gandalf,NaN,NaN,123 Middle Earth,Yes,NaN
9,1010.0,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011.0,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012.0,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013.0,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014.0,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015.0,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016.0,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017.0,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018.0,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019.0,Creed,Braton,NaN,N/a,N/a,Yes
19,1020.0,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
Last_Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phone_Number,NaN,NaN,nan,nan,NaN,NaN,NaN
Paying Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [282]:
df.loc["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('Yes', 'Y')
df.loc["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('No', 'N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001.0,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002.0,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003.0,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004.0,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005.0,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006.0,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007.0,Jeff,Winger,NaN,1209 South Street,No,No
7,1008.0,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009.0,Gandalf,NaN,NaN,123 Middle Earth,Yes,NaN
9,1010.0,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011.0,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012.0,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013.0,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014.0,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015.0,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016.0,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017.0,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018.0,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019.0,Creed,Braton,NaN,N/a,N/a,Yes
19,1020.0,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
Last_Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phone_Number,NaN,NaN,nan,nan,NaN,NaN,NaN
Paying Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Do_Not_Contact,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [283]:
df = df[df["Do_Not_Contact"] != 'Y']
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001.0,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002.0,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003.0,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
4,1005.0,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006.0,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007.0,Jeff,Winger,NaN,1209 South Street,No,No
7,1008.0,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009.0,Gandalf,NaN,NaN,123 Middle Earth,Yes,NaN
9,1010.0,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011.0,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012.0,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013.0,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014.0,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015.0,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016.0,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017.0,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018.0,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019.0,Creed,Braton,NaN,N/a,N/a,Yes
19,1020.0,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
Last_Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phone_Number,NaN,NaN,nan,nan,NaN,NaN,NaN
Paying Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Do_Not_Contact,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [284]:
df = df.dropna(subset=["Phone_Number"])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001.0,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002.0,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003.0,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
4,1005.0,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006.0,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
7,1008.0,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
9,1010.0,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
11,1012.0,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013.0,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014.0,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015.0,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016.0,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017.0,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018.0,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
19,1020.0,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
Phone_Number,NaN,NaN,nan,nan,NaN,NaN,NaN

In [285]:
df = df.reset_index(drop=True)